@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@using System.Security.Claims


<h2>Authentication with Identity</h2>
<hr />

@if (User.IsSignedIn())
{
    <p>Hello @User.GetUserName()!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
    <div>
        @Html.ActionLink("Create", "Create", "Question")
    </div>
    <div>
        @Html.ActionLink("Questions", "Index", "Question")
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div>
            @Html.ActionLink("User Roles", "Create", "Roles")
        </div>
    }

}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}